<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOnQeV_sY4vC64Ea8Rhl3KxMUafw4y7lU</string>
	<key>GCM_SENDER_ID</key>
	<string>446871856496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comments</string>
	<key>PROJECT_ID</key>
	<string>comments-c1397</string>
	<key>STORAGE_BUCKET</key>
	<string>comments-c1397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446871856496:ios:f4db21faa59d7184cb1bb5</string>
</dict>
</plist>